.container{
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(9,9,9) ;
    overflow: hidden;
}
.subContainer{
    font-size: 10px;
    width: 120em;
    height: 40em;
    position: relative;
    /* background-color: red; */
}
.subContainer2{
    border: 1px solid white;
}
.js{
    position: absolute;
    top: 15em;
    left: 30em;
    width: 10em;
    height: 10em;
    /* background-color: yellow; */
    border-radius: 50%;
    /* box-shadow: 0 0 3em #ffffff; */
}
.jsLogo{
    border-radius: 10%;
}
.react, .moon{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0 0 0;
    border-radius: 50%;
}
.react{
    top: 5em;
    left: 20em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.react::before, .moon::before{
    content: "";
    position: absolute;
    border-radius: 50%;
}
.reactLogo{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 2em;
    right: 1.6em;
    /* background-color: aqua; */
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

/* --------------------------------------------------------------------- */
.backend{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 15em;
    left: 73em;
    width: 30em;
    height: 10em;
    /* background-color: yellow; */
}
.nodeJsLogo{
    border-radius: 10%;
    z-index: 2;
}
.postgreLogo{
    border-radius: 10%;
    z-index: 2;
}
.sequelize{
    /* background-color: red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    overflow: hidden;
    /* border-color: white white white white; */
    /* border-width: 0.1em 0 0 0; */
    border-radius: 50%;
    border: none;
    top: 5em;
    left:66em;
    width: 43em;
    height: 30em;
    /* animation: orbit 36.5s linear infinite; */
}
.sequelize::before{
    content: "";
    position: absolute;
    display: flex;
    align-items: end;
    right: 105px;
    background-image: linear-gradient(90deg, rgb(9,9,9), #ffffff );
    width: 50%;
    height: 1000%;
    animation: orbit 36.5s linear infinite;
}
.sequelize::after{
    content: "";
    position: absolute;
    background-color: rgb(9,9,9);
    border-radius: 50%;
    inset: 1.5px;
}
.moon{
    position: absolute;
    border-style: solid;
    border-color: white white white white;
    border-width: 0.1em 0 0 0;
    border-radius: 50%;
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

/* .sequelize::before, .moon::before{
    content: "";
    position: absolute;
    border-radius: 50%;
}  */
.sequelizeLogo{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 2em;
    right: 1.6em;
    z-index: 2;
    /* background-color: aqua; */
}
/* .moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
} */


/* --------------------------------------------------------------------- */


/* .react, .moon{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0 0 0;
    border-radius: 50%;
}
.react{
    top: 5em;
    left: 45em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.react::before, .moon::before{
    content: "";
    position: absolute;
    border-radius: 50%;
} */
/* .reactLogo{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 2em;
    right: 1.6em;
    background-color: aqua;
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
} */
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}