.containerOff{
    display: none;
}
.containerOn{
    background-color: #363636b8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.subContainer{
    display: flex;
    flex-wrap: wrap;;
    background-color: rgb(9,9,9);
    border: 1.5px solid #363636b8;
    border-radius: 10px;
    width: 45%;
    height: 60%;
    padding-top: 20px;
}
.subContainer1{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
}
.subContainer1_1{
    display: flex;
    width: 50%;
    height: 18%;
    /* background-color: cyan; */
    flex-direction: column;
}
.subContainer1_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
    /* background-color: blueviolet; */
}
.subContainer1_3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    /* background-color: red; */
}
.subContainer1_4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 18%;
    width: 100%;
    /* background-color: royalblue; */
    padding-right: 5%;
}
.inputName{
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 1px;
    /* background-color: red; */
}
.inputEmail{
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 1px;
}
.inputAsunto{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 1px;
}

.inputMessage{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 90%;
    padding: 10px;
    border: none;
    border-radius: 1px;
    resize: none;
}

.errorOff{
    display: none;
}

.errorOn{
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    color: rgba(209, 54, 54, 0.874);
    font-size: small;
    /* background-color: violet; */
}