.navBar{
    background-color: rgb(9,9,9);
    width: 100%;
    height: 70px;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.container1{
    /* background-color: aqua; */
    width: 20%;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-top: 1.35%;
    background-color: #7D8082;
}
.container2{
    /* background-color: red; */
    width: 60%;
    height: 60%;
    border-left: 1.5px solid #ffffffc4 ;
    border-right: 1.5px solid #ffffffc4 ;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.container3{
  /* background-color: aqua; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.subcontainer3_1{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  width: 60%;
  height: 60%;
}
.button{
    font-size: 18px;
    font-size: 1.4vw;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
.button:focus,
.button:hover {
    color: #fff;
  }
  
.button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
  }
  
.button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  
  /* lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */

  .buttonContact {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: rgb(9,9,9);
    cursor: pointer;
    position: relative;
    padding: 7px;
    padding: 0.52vw;
    /* margin-bottom: 20px;
    margin-bottom: 1.5vw; */
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 18px;
    font-size: 1.4vw;
    transition: all .15s ease;
    /* background-color: red; */
  }
  
  .buttonContact::before,
  .buttonContact::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .buttonContact::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .buttonContact::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .buttonContact:active,
  .buttonContact:focus {
    outline: none;
  }
  
  .buttonContact:active::before,
  .buttonContact:active::after {
    right: 3px;
    left: 3px;
  }
  
  .buttonContact:active::before {
    top: 3px;
  }
  
  .buttonContact:active::after {
    bottom: 3px;
  }
  
  .buttonContact_lg {
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    
    background-color: rgb(9,9,9);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .buttonContact_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: rgb(9,9,9);
  }
  
  .buttonContact_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: rgb(9,9,9);
    transition: all .2s ease;
  }
  
  .buttonContact_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ffffff;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .buttonContact_text {
    position: relative;
    color: #ffffff;
  }
  
  .buttonContact:hover {
    color: rgb(9,9,9);
  }

  .buttonContact:hover .buttonContact_text{
    color: rgb(9,9,9);
  }
  
  .buttonContact:hover .buttonContact_sl {
    width: calc(100% + 15px);
  }
  
  .buttonContact:hover .buttonContact_lg::after {
    background-color: #ffffff;
  }
  