/* principal containers styles  */
.container1{
    background-color: rgb(9, 9, 9);
    height: 98.5vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.subcontainer1{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer2{
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 5vh 10vh 5vh 10vh;
}
.subcontainer3{
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 5vh 10vh 5vh 10vh;
    padding: 0px 5vh 0px 5vh;
}
.subcontainer3_1{
    /* background-color: cadetblue; */
    height:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}
.subcontainer4{
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 5vh 10vh 5vh 10vh;
    padding: 0px 5vh 0px 5vh;
}
.myDescription1{
    /* background-color: aqua; */
    width: 80%;
}
.myDescription2Visible{
    /* background-color: blueviolet; */
    width: 100%;
}
.profilePict{
    /* background-color: yellow; */
    border-radius: 10%;
    opacity: 85%;
}
.logotypes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: absolute;
    z-index: 1;
}
.technoligies{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
/* secondary containers styles */
.image{
    /* background-color: red; */
    min-width: 10%;   
}
.message{
    /* background-color: blueviolet; */
    width: 70%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5%;
}

.linea{
    height: 0px;
    border-top: 2px solid #a4a4a4;
    margin: 0px 10vh 5vh 10vh; 
    padding: 0px;
}
/* Estilos de texto */
.text_h1{
    font-family: 'Oswald';
    font-size: 15vh;
}
.text_h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 200 ;
    font-size: 6.5vh;
}
.text_h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 200 ;
    font-size: 6vh;
}
.text_h4min{
    font-family: 'Oswald', sans-serif;
    font-weight: 200 ;
    font-size: 3vh;
}
.text_p{
    font-family: 'Oswald', sans-serif;
    font-weight: 200 ;
    font-size: 3.5vh;
}
.text_pmin{
    font-family: 'Oswald', sans-serif;
    font-weight: 200 ;
    font-size: 2.7vh;
}
.noVisible{
    display: none;
}
.desplegator{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 5vh;
}

.iconFlechaArriba{
    transform: rotate(180deg);
}

.containerProject{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #7a7a7a;
    border-radius: 5px;
    width: 388px;
    height: 259px;
    background-image: url(../public/images/backgroundRecipes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.project{
    background-color: #31313100;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    z-index: 0;
}
.nameProject{
    margin-top: 85px;
    margin-left: 145px;
}
.nameProject p{
    text-indent: 80px;
}
.descriptionProject{
    display: none;
    transform: translateY(-100%)
}
.project:hover .descriptionProject{
    background-color: #212121a7;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding: 20px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateY(0%);
}
.project:hover .descriptionProject p{
    display: block;
}
.project:hover .nameProject{
    display: none;
}
